<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessingLogs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ProcessingLogs.Properties.Settings>
            <setting name="WebAppOrgLogDirPaths" serializeAs="String">
                <value>C:\Projects\github\tys-hiroshi\storage\OrgLogs\WebAppLogs\204,C:\Projects\github\tys-hiroshi\storage\OrgLogs\WebAppLogs\206,C:\Projects\github\tys-hiroshi\storage\OrgLogs\WebAppLogs\162,C:\Projects\github\tys-hiroshi\storage\OrgLogs\WebAppLogs\163,C:\Projects\github\tys-hiroshi\storage\OrgLogs\WebAppLogs\165,C:\Projects\github\tys-hiroshi\storage\OrgLogs\WebAppLogs\166</value>
            </setting>
            <setting name="WebAppLogDirPaths" serializeAs="String">
                <value>C:\Projects\github\tys-hiroshi\storage\Logs\WebAppLogs\204,C:\Projects\github\tys-hiroshi\storage\Logs\WebAppLogs\206,C:\Projects\github\tys-hiroshi\storage\Logs\WebAppLogs\162,C:\Projects\github\tys-hiroshi\storage\Logs\WebAppLogs\163,C:\Projects\github\tys-hiroshi\storage\Logs\WebAppLogs\165,C:\Projects\github\tys-hiroshi\storage\Logs\WebAppLogs\166</value>
            </setting>
            <setting name="SearchWords" serializeAs="String">
                <value>タイムアウト,timeout,デッドロック</value>
            </setting>
        </ProcessingLogs.Properties.Settings>
    </userSettings>
</configuration>